@model FuncionarioViewModel
@using static SGVE_web.Models.CargosViewModel;

@{
    ViewData["Title"] = "Adicionar Funcionário";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="Create">
    <br />
    <div class="container border border-4 border-secondary p-3 border-start-0 rounded-end border-opacity-10 rounded-4">
        <h3 class="text-primary p-3">Adicionar um novo Funcionário</h3>
        <hr />
        <div class="row col-lg-12 p-2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-12">
                <label asp-for="Nome" class="control-label pt-2 h3 text-primary" style="font-size:15px;">Nome</label>
                <input asp-for="Nome" class="form-control" maxlength="500" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
        </div>

        <div class="row col-lg-12 p-2">
            <div class="col-4">
                <label asp-for="Cpf" class="control-label pt-2 h3 text-primary" style="font-size:15px;">CPF</label>
                <input asp-for="Cpf" class="form-control" maxlength="11" type="number" />
                <span asp-validation-for="Cpf" class="text-danger"></span>
            </div>

            <div class="col-4">
                <label asp-for="Rg" class="control-label pt-2 h3 text-primary" style="font-size:15px;">RG</label>
                <input asp-for="Rg" class="form-control" maxlength="20" type="number" />
                <span asp-validation-for="Rg" class="text-danger"></span>
            </div>

            <div class="col-4">
                <label asp-for="Data_Nascimento" class="control-label pt-2 h3 text-primary" style="font-size:15px;">Data de Nascimento</label>
                <input asp-for="Data_Nascimento" class="form-control" maxlength="10" type="date" />
                <span asp-validation-for="Data_Nascimento" class="text-danger"></span>
            </div>
        </div>

        <div class="row col-lg-12 p-2">          

            <div class="col-2">
                <label asp-for="Celular" class="control-label pt-2 h3 text-primary" style="font-size:15px;">Celular</label>
                <input asp-for="Celular" class="form-control" maxlength="15" type="number" />
                <span asp-validation-for="Celular" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="Telefone" class="control-label pt-2 h3 text-primary" style="font-size:15px;">Telefone</label>
                <input asp-for="Telefone" class="form-control" maxlength="15" type="number" />
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="Id_Cargo" class="control-label pt-2 h3 text-primary" style="font-size:15px;">Cargo</label>
                <select asp-for="Id_Cargo" class="btn btn-primary dropdown-toggle" asp-items="Html.GetEnumSelectList<Cargos>()">Cargo</select>
            </div>
        </div>

        <div class="row col-lg-12 p-2">
            <div class="col-2">
                <label asp-for="Cep_Endereco" class="control-label pt-2 h3 text-primary" style="font-size:15px;">CEP</label>
                <input asp-for="Cep_Endereco" class="form-control" maxlength="3" type="number" />
                <span asp-validation-for="Cep_Endereco" class="text-danger"></span>
            </div>

            <div class="col-1 pt-4">
                <!-- Arrumar funcionamento do botão de busca cep-->
                <input class="btn btn-warning text-white form-control" title="Buscar" type="button" value="Buscar" onclick="@Url.Action("GetCEP", "Funcionario");" />
            </div>

            <div class="col-2">
                <label asp-for="Numero_Endereco" class="control-label pt-2 h3 text-primary" style="font-size:15px;">Número</label>
                <input asp-for="Numero_Endereco" class="form-control" maxlength="3" type="number" />
                <span asp-validation-for="Numero_Endereco" class="text-danger"></span>
            </div>

            <div class="col-6">
                <label asp-for="Complemento_Endereco" class="control-label pt-2 h3 text-primary" style="font-size:15px;">Complemento</label>
                <input asp-for="Complemento_Endereco" class="form-control" maxlength="500" type="number" />
                <span asp-validation-for="Complemento_Endereco" class="text-danger"></span>
            </div>
        </div>

        <div class="row col-lg-12 p-2">
            <div class="col-10">
                <label asp-for="Email" class="control-label pt-2 h3 text-primary" style="font-size:15px;">Email</label>
                <input asp-for="Email" class="form-control" maxlength="100" type="text" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>

        <div class="row col-lg-12 p-2">
            <div class="col-10">
                <label asp-for="Senha" class="control-label pt-2 h3 text-primary" style="font-size:15px;">Senha</label>
                <input asp-for="Senha" class="form-control" maxlength="20" type="text" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
        </div>

        <div class="row col-lg-12 p-4">
            <div class="col-2 offset-8">
                <a asp-action="Index" class="btn-primary btn form-control">Voltar</a>
            </div>
            <div class="col-2">
                <input type="submit" value="Adicionar" class="btn btn-success form-control" />
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial"></partial>
}