@model FuncionarioViewModel

@{
    ViewData["Title"] = "Desligar Funcionário";
}

<form asp-action="Delete">

    <input asp-for="Id" hidden>

    <br/>
    <div class="container border border-4 border-secondary p-3 border-start-0 rounded-end border-opacity-10 rounded-4">
        <h3 class="text-primary p-3">Desliga Funcionário</h3>
        <hr/>
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="col-2"><label asp-for="Cpf" class="control-label pt-2" style="font-size:15px;">CPF</label></div>
            <div class="col-10 pb-3">
                <input asp-for="Cpf" class="form-control" disabled maxlength="11" />
            </div>
            
            <div class="col-2"><label asp-for="Nome" class="control-label pt-2" style="font-size:15px;">Nome</label></div>
            <div class="col-10 pb-3">
                <input asp-for="Nome" class="form-control" disabled maxlength="500" />
            </div>

            <div class="col-2"><label asp-for="Rg" class="control-label pt-2" style="font-size:15px;">RG</label></div>
            <div class="col-10 pb-3">
                <input asp-for="Rg" class="form-control" disabled maxlength="20" />
            </div>

            <div class="col-2"><label asp-for="Data_Nascimento" class="control-label pt-2" style="font-size:15px;">Data de Nascimento</label></div>
            <div class="col-10 pb-3">
                <input asp-for="Data_Nascimento" class="form-control" disabled maxlength="10" type="date" />
            </div>

            <div class="col-2"><label asp-for="Celular" class="control-label pt-2" style="font-size:15px;">Celular</label></div>
            <div class="col-10 pb-3">
                <input asp-for="Celular" class="form-control" disabled maxlength="18" />
            </div>

            <div class="col-5 offset-2">
                <a asp-action="Index" class="btn-primary btn form-control">Voltar</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Desligar" class="btn btn-sucess form-control" />
            </div>
        </div>
    </div>
</form>

@section Scripts{
     <partial name="_ValidationScriptsPartial"></partial>
}