@model SGVE.IdentityServer.MainModule.Account.RegisterViewModel

<div class="login-page">

    <partial name="_ValidationSummary" />

    <div class="row">

        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <h2>Preencha o formulário para cadastrar e acessar o sistema</h2>
                </div>

                <div class="card-body">
                    <form asp-route="Login">
                        <input type="hidden" asp-for="ReturnUrl" />

                        <div class="form-group">
                            <label asp-for="Username">Nome de acesso:</label>
                            <input class="form-control" placeholder="Exemplo: Joana.Silva" asp-for="Username" autofocus>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email">E-mail:</label>
                            <input class="form-control" placeholder="Exemplo: email@gmail.com" asp-for="Email" autofocus>
                        </div>
                        <div class="form-group">
                            <label asp-for="FirstName">Nome:</label>
                            <input class="form-control" placeholder="Nome" asp-for="FirstName" autofocus>
                        </div>
                        <div class="form-group">
                            <label asp-for="LastName">Sobrenome:</label>
                            <input class="form-control" placeholder="Sobrenome" asp-for="LastName" autofocus>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password">Senha:</label>
                            <input type="password" class="form-control" placeholder="Exemplo: Senha1234$" asp-for="Password" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label asp-for="RoleName">Tipo de acesso:</label>
                            <select asp-for="RoleName" class="form-control" asp-items="@(new SelectList(ViewBag.message))"></select>
                        </div>
                        <button class="btn btn-primary" name="button" value="Register">Cadastrar</button>
                        <button class="btn btn-secondary" name="button" value="cancel">Cancelar</button>
                    </form>
                </div>
                <div class="card-footer">
                    <a href="@Url.Action("Login",new {Model.ReturnUrl })">Login</a>
                </div>
            </div>
        </div>

    </div>
</div>
