<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/Login.css" />
        <script src="https://kit.fontawesome.com/9abeffea05.js"></script>
    </environment>

    <title>@ViewBag.Title</title>
</head>
<body>
        @{
            ViewData["Title"] = "Área de Acesso";
            Layout = "_LoginLayout";
        }

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>

<script>
    $(document).ready(function () {
        $("#btnLogin").click(function () {
            if ($("#txtLogin").val() == "") {
                fAlert("Digite um E-mail.");
                $(".alert").removeClass("fade");
            }
            else if ($("#txtPassword").val() == "") {
                fAlert("Digite uma Senha.");
                $(".alert").removeClass("fade");
            } else {
                if (fValidaEmail($("#txtLogin"))) {
                    $(".alert").alert("close");

                    fLogin();
                }
                else {
                    fAlert("E-mail inválido! Verifique o E-mail digitado.");
                    $(".alert").removeClass("fade");
                }
            }
        });

        function fValidaEmail(email) {
            email_regex = /^[a-zA-Z0-9._-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/i;
            if (!email_regex.test(email.val())) {
                return false;
            } else { return true; }
        }

        function fAlert(mensagem) {
            var retorno = '<div class="row"> ';
            retorno += '<div class="alert alert-danger alert-dismissible fade show" role="alert"> ';
            retorno += mensagem;
            retorno += ' <button type="button" class="close" data-dismiss="alert" aria-label="Close">';
            retorno += '<span aria-hidden="true">&times;</span>';
            retorno += '</button>';
            retorno += '</div>';
            retorno += '</div>';

            $('.alerta').html(retorno);
        }

        function fLogin() {
            let retorno = false;
            let email = $("#txtLogin").val();
            let senha = $("#txtPassword").val();

            var vData = {
                EMAIL_FUNC: email,
                SENHA_FUNC: senha
            };

            $.ajax({
                type: 'POST'
                , url: "@Url.Action("ValidarAcesso", "Home")"
                , contentType: 'application/x-www-form-urlencoded'
                , dataType: 'json'
                , data: vData
                , async: false
                , success: function (oRetorno, status) {
                    if (oRetorno.tbUsuario.length > 0) {
                        $('#COD_FUNC').val(oRetorno.tbUsuario[0].coD_FUNC);
                        $('#NOME_FUNC').val(oRetorno.tbUsuario[0].nomE_FUNC);
                        $('#redirectDashboard').submit();
                    }
                    else if (oRetorno.tbERRO.length > 0) {
                        fAlert(oRetorno.tbERRO[0].strErro);
                        $(".alert").removeClass("fade");
                    }
                    retorno = true;
                }
                , error: function (xmlHttpRequest, status, err) {
                    console.log('Erro interno debug:2');
                    return Error;
                },
            }).fail(function () {
                console.log('Erro interno debug:1');
            });

            return retorno;
        }
    });

    // Get the input field
    var input = document.getElementById("txtPassword");

    // Execute a function when the user presses a key on the keyboard
    input.addEventListener("keypress", function (event) {
        // If the user presses the "Enter" key on the keyboard
        if (event.key === "Enter") {
            // Cancel the default action, if needed
            event.preventDefault();
            // Trigger the button element with a click
            document.getElementById("btnLogin").click();
        }
    });
</script>

<form asp-action="Dashboard" asp-controller="Home" method="post" id="redirectDashboard">
    <input type="hidden" id="COD_FUNC" name="COD_FUNC" />
    <input type="hidden" id="NOME_FUNC" name="NOME_FUNC" />
</form>