<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/Login.css" />
        <script src="https://kit.fontawesome.com/9abeffea05.js"></script>
    </environment>

    <title>@ViewBag.Title</title>
</head>
<body>
        @{
            ViewData["Title"] = "Área de Acesso";
            Layout = "_LoginLayout";
        }

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>

<script>
    $(document).ready(function () {
        $("#btnLogin").click(function () {
            if ($("#txtLogin").val() == "") {
                fAlert("Digite um E-mail.");
                $(".alert").removeClass("fade");
            }
            else if ($("#txtPassword").val() == "") {
                fAlert("Digite uma Senha.");
                $(".alert").removeClass("fade");
            } else {
                if (fValidaEmail($("#txtLogin"))) {
                    $(".alert").alert("close");

                    fLogin();
                }
                else {
                    fAlert("E-mail inválido! Verifique o E-mail digitado.");
                    $(".alert").removeClass("fade");
                }
            }
        });

        function fValidaEmail(email) {
            email_regex = /^[a-zA-Z0-9._-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/i;
            if (!email_regex.test(email.val())) {
                return false;
            } else { return true; }
        }

        function fAlert(mensagem) {
            var retorno = '<div class="row"> ';
            retorno += '<div class="alert alert-danger alert-dismissible fade show" role="alert"> ';
            retorno += mensagem;
            retorno += ' <button type="button" class="close" data-dismiss="alert" aria-label="Close">';
            retorno += '<span aria-hidden="true">&times;</span>';
            retorno += '</button>';
            retorno += '</div>';
            retorno += '</div>';

            $('.alerta').html(retorno);
        }

        function fLogin() {
            let retorno = false;
            let email = $("#txtLogin").val();
            let senha = $("#txtPassword").val();

            var vData = {
                EMAIL_FUNC: email,
                SENHA_FUNC: senha
            };

            console.log(vData)

            $.ajax({
                type: 'POST'
                , url: "@Url.Action("ValidarAcesso", "Home")"
                , contentType: 'application/x-www-form-urlencoded'
                , dataType: 'json'
                , data: vData
                , async: false
                , success: function (oDados, status) {
                    retorno = true;
                }
                , error: function (xmlHttpRequest, status, err) {
                    console.log('debug:2');
                    return Error;
                },
            }).fail(function () {
                console.log('debug:1');
            });

            return retorno;
        }
    });
</script>