@{
    ViewData["Title"] = "SGVE - Sistema Gerenciador de Vendas e Estoque";
}

<div class="text-center">
    <div class="row col-12" style="text-align:left; padding:50px; color:dimgrey">
        <p><h1 class="display-4">SGVE - Sistema gerenciador de vendas e estoque</h1></p>
        <p><h1 class="display-6">o sistema completo para controlar seus negócios!</h1></p>
    </div>
    <div class="row col-12" style="text-align:left; padding:50px">
        <p>Utilize já o sistema mais completo do mercado para controlar suas vendas e gerenciar a entrada e saída do seu estoque.</p>
        <p>Com apenas um cadastro rápido, será possível agilizar todo o seu processo.</p>
        <p>Experimente nosso sistema agora mesmo!</p>
    </div>
</div>